{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}" {% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HollyMovies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'index.css' %}">
    <style>
        /* Asigură ca pagina să ocupe întreaga înălțime */
        html, body {
            height: 100%;
        }

        /* Wrapper pentru conținut */
        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        /* Conținut principal care ocupă spațiul disponibil */
        .content {
            flex: 1;
        }

        /* Footer fix în partea de jos */
        footer {
            background-color: #f8f9fa;
            text-align: center;
            padding: 1rem 0;
        }
    </style>
</head>

<body>
<div class="wrapper">
    <!-- Navigație -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container fixed">
            <a class="navbar-brand" href="/"><i><b>GalaTour</b></i></a>
            <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">
                        <i>Acasa</i>
                    </a>
                    <a class="nav-item nav-link active" href="{% url 'lista_locatie' %}">
                        <i>Locatii</i>
                    </a>
                    {% if request.user.is_authenticated and request.user.groups.all.0.name == "angajati" %}
                     <a class="nav-item nav-link active" href="{% url 'adauga_locatie' %}">
                        <i>Adauga Locatie</i>
                    {% endif %}
                    </a>
                    <a class="nav-item nav-link active" href="{% url 'lista_tur' %}">
                        <i>Tururi</i>
                    </a>
                    {% if request.user.is_authenticated and request.user.groups.all.0.name == "angajati" %}
                    <a class="nav-item nav-link active" href="{% url 'adauga_tur' %}">
                        <i>Adauga Tur</i>
                    {% endif %}
                    </a>
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link active" href="{% url 'lista_rezervari' %}">
                        <i>Rezervarile Mele</i>
                    {% endif %}
                    </a>
                </div>
            </div>
            <div class="nav-item dropdown">
<!--            # user este o variabila introdusa de Django in toate teplaturile-->
            {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">

                <i>{{user.username}}</i>
            </a>
             <div class="dropdown-menu dropdown-menu-right">
                 <a class="dropdown-item text-right" href=" {% url 'conturi:logout' %}"><i>Logout</i></a>
                 <a class="dropdown-item text-right" href="{% url 'creeaza_rezervare' %}"><i>Fă o rezervare</i></a>
                 <a class="dropdown-item text-right" href="{% url 'lista_rezervari' %}"><i>Rezervările mele</i></a>
                 <a class="dropdown-item text-right" href=" {% url 'conturi:profile_update' %}"><i>Editeaza Profilul</i></a>

            </div>
            {% else %}
             <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                 <i>Nu esti autentificat!</i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item text-right" href=" {% url 'conturi:login' %}"><i>Login</i></a>
                <a class="dropdown-item text-right" href=" {% url 'conturi:register' %}"><i>Inregistrare</i></a>

            </div>
            {% endif %}

            </div>
        </div>
    </nav>

    <!-- Conținut principal -->
    <div class="content">
        <div class="container">
            <div class="jumbotron">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center py-3">
        <p>&copy;<i> 2025 GalaTour</i></p>
    </footer>
</div>
</body>

</html>
