<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalii Tur</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h3><i>{{tur.nume}}</i></h3>
    <p>{{tur.descriere}}</p>
    <p>Durata: {{tur.durata }}</p>
    <p>Pachet: {{ tur.pachet }}</p>
    <p>Pret: {{ tur.pret }} Lei/persoana</p>
    <h3><i>Locatii incluse</i></h3>

    <ul>
      {% for locatie in tur.locatii.all %}
          <li>
              <a href="{% url 'detalii_locatie' locatie.id %}" >{{ locatie.nume }}</a>
          </li>
      {% endfor %}

    </ul>
    {% if user.is_authenticated and user.groups.all.0.name == "angajati" %}
    <a href="{% url 'editeaza_tur' tur.id %}" class="btn btn-info">Editează</a>

    <form method="post" action="{% url 'sterge_tur' tur.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Sigur vrei să ștergi acest tur?');">
            Șterge
        </button>
    </form>
    {% endif %}
<!-- Sectiune pentru recenzii -->
    {% if not user_deja_recenzat %}
    <div>
        <h1>Adauga o recenzie</h1>
        <form method="post" action="{% url 'adauga_recenzie' tur.id %}">
            {% csrf_token %}
            <label for ="scor">Scor</label>
            <select id="scor" name ="scor">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <label for ="comentariu">Adauga comentariu(optional)</label>
            <input type="text" id="comentariu" name="comentariu">
            <br>
            <input type="submit" class="btn btn-primary" value = "Adauga">
        </form>
    </div>
    {% endif %}

    <div>
        <h1>Recenzii</h1>
        <a href="{% url 'afiseaza_recenzii' object.pk %}">Vezi toate recenziile</a>
        <ul>
            {% for recenzie in recenzii %}
            <li>
                <p>Adaugat de {{ recenzie.user.username }}</p>
                <p>Scor: {{ recenzie.scor }}</p>
                <p> Comentariu: {{ recenzie.comentariu }}</p>
                {% if recenzie.user == user %}
                    <a class="btn btn_warning" href="{% url 'editeaza-recenzia'% recenzie.pk}">Editeaza</a>
                    <a class="btn btn_danger" href="{% url 'sterge_recenzia' recenzie.pk}">Sterge</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

</body>
</html>