<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalii Tur</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h3><i>{{tur.nume}}</i></h3>
    <p>{{tur.descriere}}</p>
    <p>Durata: {{tur.durata }}</p>
    <p>Pachet: {{ tur.pachet }}</p>
    <p>Pret: {{ tur.pret }} Lei/persoana</p>
    <h3><i>Locatii incluse</i></h3>

    <ul>
      {% for locatie in tur.locatii.all %}
          <li>
              <a href="{% url 'detalii_locatie' locatie.id %}" >{{ locatie.nume }}</a>
          </li>
      {% endfor %}

    </ul>
    {% if user.is_authenticated and user.groups.all.0.name == "angajati" %}
    <a href="{% url 'editeaza_tur' tur.id %}" class="btn btn-info">Editează</a>

    <form method="post" action="{% url 'sterge_tur' tur.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Sigur vrei să ștergi acest tur?');">
            Șterge
        </button>
    </form>
    {% endif %}
    {% endblock %}

</body>
</html>