<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalii Locatie</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h3><i>{{ locatie.nume }}</i></h3>
    <p>{{locatie.descriere}}</p>
    <h4><i> Tururi care includ locatia:</i></h4>
    <ol>
        {% for tur in tururi %}
        <li>
            <a href="{% url 'detalii_tur' tur.id %}">{{tur.nume}}</a>
        </li>
        {% endfor %}
    </ol>
    <p>Localizare: {{ locatie.oras.nume }}, {{ locatie.judet.nume }}</p>
    <p>Descriere oras:</p>
    <p>{{locatie.oras.descriere}}</p>
    {% if user.is_authenticated and user.groups.all.0.name == "angajati" %}
    <a href="{% url 'editeaza_locatie' locatie.id %}" class="btn btn-warning">Editează</a>

    <form method="post" action="{% url 'sterge_locatie' locatie.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Sigur vrei să ștergi acesta locatie?');">
            Șterge
        </button>
    </form>
    {% endif %}
    {% endblock %}
</body>
</html>