<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista locatii</title>
</head>
<body>
    <h1>Locatii de Interes</h1>
    <ul>
        {% for locatie in locatii %}
            <li>
                <a href="{% url 'detalii_locatie' locatie.id %}">
                    <h3>{{ locatie.nume }}</h3>
                </a>
                <p>Localizare: {{ locatie.oras.nume }}, {{ locatie.oras.judet.nume }}</p>
                <p>{{ locatie.descriere }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

