
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Locatii</title>

</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Locatii de Interes</h1>

    <ol>
        {% for locatie in locatii %}
            <li>
                <a href="{% url 'detalii_locatie' locatie.id %}" >
                    <p>{{ locatie.nume }}</p>
                </a>
                <p>{{ locatie.descriere}}</p>
                <p>Localizare: {{ locatie.oras.nume }}, {{ locatie.oras.judet.nume }}</p>
                 {% if locatie.imagine_locatie %}
                    <img src="{{ locatie.imagine_locatie.url }}" alt="{{ locatie.nume }}" style="max-width: 200px; height: auto;">
                {% else %}
                    <p><em>Nu există imagine disponibilă</em></p>
                {% endif %}
            </li>
            <br>
        {% endfor %}
    </ol>
    {% endblock %}
</body>
</html>


