<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezervarile Mele</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h2><i>Rezervările mele</i></h2>
  {% if rezervari %}
    <ul>
      {% for rezervare in rezervari %}
        <li>
          <strong><i>Tur:</i></strong> {{ rezervare.tur.nume }}<br>
          <strong><i>Data:</i></strong> {{ rezervare.data_inceput }}<br>
          <strong><i>Număr persoane:</i></strong> {{ rezervare.numar_persoane }}<br>
          <a href="{% url 'anuleaza_rezervare' rezervare.id  %}" class="btn btn-info btn-sm mt-3"><i>Anuleaza</i></a>
          <br>
          <br>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nu ai nicio rezervare.</p>
  {% endif %}
{% endblock %}


</body>
</html>