<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezervarile Mele</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h3><i>Rezervările mele</i></h3>
  {% if rezervari %}
    <ul>
      {% for rezervare in rezervari %}
        <li>
          <strong><i>Tur:</i></strong> {{ rezervare.tur.nume }}<br>
          <strong><i>Data rezervare:</i></strong> {{ rezervare.data_inceput }}<br>
          <strong><i>Creata:</i></strong> {{ rezervare.creata}}<br>
          <strong><i>Număr persoane:</i></strong> {{ rezervare.numar_persoane }}<br>
          <strong><i>Status:</i></strong> {{ rezervare.status }}<br>
            <strong><i>Suma de plata:</i></strong> {{ rezervare.suma }} lei<br>
          <a href="{% url 'anuleaza_rezervare' rezervare.id %}"
            class="btn btn-info btn-sm mt-3"
            onclick="return confirm('Ești sigur că vrei să anulezi această rezervare?');">
          <i>Anulează</i>
          </a>

          <br>
          <br>
        </li>
      {% endfor %}
    </ul>
<p><i> Vei fi contactat pentru confirmare in maxim 2 ore de la plasarea rezervarii. Ulterior vei putea efectua plata
  in contul indicat sau la <a href="{% url 'contact' %}" target="_blank"><strong>sediul nostru</strong></a>.</i></p>

  {% else %}
    <p>Nu ai nicio rezervare.</p>
  {% endif %}
{% endblock %}


</body>
</html>